/* 
*    ===== Nav bar ========
*/
/* Top Status Bar */
.topStatusBar {
  background-color: white;
  min-width: 100%;
  height: 7vh;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: fixed;
}
.navBar {
  width: 100%;
  height: 10vh;
  border: solid rgba(0, 0, 0, 0.144);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  z-index: 1000;
  top: 6.5vh;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.navBarAnimate {
  top: 0;
  left: 0;
}
.navBar .logo {
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  color: red;
  text-transform: uppercase;
  transition: 1s;
}
.navBar ul {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 0;
}
.navBar ul li {
  position: relative;
  list-style: none;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
.navBar ul li a:hover {
  text-decoration: none;
  color: rgb(155, 0, 0);
}

/* 
*   ===== FOOTER =======
*/
footer {
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

/* LOGO BAR */
footer .footerLogoBar {
  height: 10vh;
  width: 100%;
  border: 1.5px solid rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: red;
  background-color: rgb(255, 255, 255);
  align-self: flex-end;
}

/* FOOTER MENU */
.footerMenus {
  max-height: 100%;
  min-height: 30vh;
  width: 100%;
  display: flex;
}
.footerMenus .menuList {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.menuList li {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menuList li a {
  color: black;
  text-decoration: none;
  font-size: small;
}

/* FOOTER SOCIAL ICONS */
.footerIconLinks {
  display: flex;
}
.footerIconLinks a {
  margin-right: 5px;
}

/* FOOTER BOTTOM BAR */
.footerBottomBar {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.144);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
 *     ====== HEIGHLIGHTS ======
 */
.newsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  justify-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #fff;
}
.newsWrapper .newsBox {
  padding: 10px;
  border-radius: 5px;
}
.newsThumbnail {
  width: 100%;
}
.newsBox a {
  color: red;
  text-decoration: none;
  font-size: large;
}
